<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Errors Found</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
    <h2>Found Invaild Input</h2>

    <p>{{err.height}}</p>
    <p>{{err.weight}}</p>
    <p>{{err.age}}</p>
    <p>{{err.systolic}}</p>
    <p>{{err.diastolic}}</p>
    <p>{{err.diabetes}}</p>
    <p>{{err.cancer}}</p>
    <p>{{err.alzheimers}}</p>


    <button onclick="document.location='/form'">Go Back </button>




</body>

</html>